body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 20px;
}

.title {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    background-color: beige;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    border-style: solid;

    margin-bottom: 20px;
}


.row {
    display: flex;
    flex-direction: row;
}

.grid {

    width: 4vh;
    height: 4vh;
    border-style: solid;
}

.grid:hover {
    background-color: black;
}